### hosting local mysql DB

HOST_DB="localhost"
USER_DB="root"
PASSWORD_DB="xxxxxxx"
NAME_DB="test_gourmetapp_db"

### hosting remoto mysql DB

HOST_DB_R="bb656plcepogjddaftjc-mysql.services.clever-cloud.com"
USER_DB_R="uyjna8xngdr8gg95"
PASSWORD_DB_R="o8g8JWmTIath1hcjp4tV"
NAME_DB_R="bb656plcepogjddaftjc"


### cloudinary

CLOUD_NAME="goutst08t"
API_KEY="315167163264451"
API_SECRET="XO8G1Yy8SbcQb5RDN"

### port

PORT=8000

### JWT

JWT_SECRET=somethingsecret

### google client for login

CLIEN_ID=""
